# Array

Array is a variable with a lot of values, so instead of doing this:

In [ ]:
$a_1 = 1;
$a_2 = 3;
$a_3 = 5;
echo $a_1;
echo $a_2;
echo $a_3;

1

3

5

=> null

you better doing this:

In [ ]:
$b = array(1, 3, 5);
echo $b[0];
echo $b[1];
echo $b[2];

1

3

5

=> null

or even better:

In [ ]:
$b = array(1, 3, 5);

for($i=0; $i<count($b); $i++){
    echo $b[$i];
}

1

3

5

=> null

In [ ]:
$fruits = array("banana", "orange", "grape"); // define an array with 3 elements

$fruits[] = "strawberry";                     // add new element to fruits array

echo $fruits[0];                              // show the first element

// use for to show all elements
for( $i=0; $i<count( $fruits); $i++){
    $fruit = $fruits[$i];
    echo $fruit;
}

// or foreach to show all elements
foreach($fruits as $fruit){
    echo $fruit;
}

banana

banana

orange

grape

strawberry

banana

orange

grape

strawberry

=> null

# Associative array

Associative array is array with special keys. It's like dictionary, struct, or record in other programming language.

```php
$student = array(
    'name' => 'Dono',
    'age' => 19
);
echo $student['name'];
echo $student['age'];
```

Suppose we want to make "gunting-batu-kertas" game with a bit expansion just like http://bigbangtheory.wikia.com/wiki/Rock_Paper_Scissors_Lizard_Spock

You can do this (take a look at how I eliminate unnecessary nested if):

In [ ]:
$player_1 = array('spock', 'gunting', 'batu', 'kertas');
$player_2 = array('kadal', 'batu', 'batu', 'batu');

$menang = array(
    'gunting' => array('kertas', 'kadal'),
    'batu' => array('gunting', 'kadal'),
    'kertas' => array('batu', 'spock'),
    'kadal' => array('spock', 'kertas'),
    'spock' => array('gunting', 'batu'),
);

for($i=0; $i<count($player_1); $i++){
    $p1 = $player_1[$i];
    $p2 = $player_2[$i];
    if($p1 == $p2){
        echo 'draw';
    }else if(in_array($p2, $menang[$p1])){
        echo 'player 1';
    }else{
        echo 'player 2';
    }
}

player 2

player 2

draw

player 1

=> null

# Class and Inheritance

Notice that `Mahasiswa` has everything `Orang` has. Plus, in `Mahasiswa` you can use `Orang`'s `__construct` and `sapa` to make your code shorter

In [ ]:
class Orang{
    public $nama;
    public $alamat;
    public function __construct($nama, $alamat){
        $this->nama = $nama;
        $this->alamat = $alamat;
    }
    public function sapa(){
        echo $this->nama.'<br />';
        echo $this->alamat.'<br />';
    }
}
class Mahasiswa extends Orang{
    public $nrp;
    public function __construct($nrp, $nama, $alamat){
        $this->nrp = $nrp;
        parent::__construct($nama, $alamat);
    }
    public function sapa(){
        echo $this->nrp.'<br />';
        parent::sapa();
    }
}

$tono = new Mahasiswa('151112345','Tono Martono', 'Malang');
$tono->nama = 'Tono Martono Jr.';
$tono->sapa();

151112345<br />

Tono Martono Jr.<br />

Malang<br />

=> null

# Insert and Select From Database (The Old Way)

In [ ]:
$link = mysqli_connect('localhost', 'root', 'toor', 'belajar_db');
$sql = "INSERT INTO mhs(nrp, nama) VALUES('12111234', 'Budi')";
mysqli_query($link, $sql);
$sql = "SELECT nrp, nama FROM mhs";
$result = mysqli_query($link, $sql);
while($row = mysqli_fetch_array($result)){
    echo $row['nrp'];
    echo ' ';
    echo $row['nama'];
    echo '<br />';
}

12111234

Budi

<br />

=> null

# Using Class to Make Things Easier

In [ ]:
// Location: belajar-database-class.php
class Table{
    private $link;
    public $table_name;
    public $fields;
    public function __construct(){
        $this->link = mysqli_connect('localhost', 'root', 'toor', 'belajar_db');
    }
    public function insert($data){
        foreach($data as $key=>$val){
            $fields[] = $key;
            $values[] = "'" . addslashes($val) . "'";  
        }
        $sql = "INSERT INTO $this->table_name(";
        $sql .= implode(', ', $fields);
        $sql .= ') VALUES (';
        $sql .= implode(', ', $values);
        $sql .= ')';
        mysqli_query($this->link, $sql);
    }
    public function show(){
        $sql = "SELECT " . implode(', ', $this->fields) . " FROM " . $this->table_name; 
        $result = mysqli_query($this->link, $sql);
        while($row = mysqli_fetch_array($result)){
            foreach($this->fields as $field){
                echo $row[$field].' ';
            }
            echo '<br />';
        }
    }
}

// Location: belajar-db-class-implemented.php
// Uncommment a line below
//include('belajar-db-class.php');
class Student extends Table{
    public $table_name = 'mhs';
    public $fields = array('nrp', 'nama');
}

$mhs = new Student();
$mhs->insert(array('nrp'=>'131124566', 'nama'=>'Toni'));
$mhs->show();

12111234

Budi

<br />

131124566

Toni

<br />

=> null

# Final Project

* A team consists of three or less students
* Creating a program with any web framework that utilize:

    - Authentication/Authorization
    - CRUD
    - AJAX

* What you should do:
    
    - Edit the spreadsheet here: https://docs.google.com/spreadsheets/d/1XPKYdax5cWEQ1I4BBfFOFdPx9d9D8biEDAKKvpwvv7E/edit?usp=sharing
    - Create proposal, and send it to frendi@stiki.ac.id. The proposal should contains:
        - Brief description of your project (What it is about, why it is important, who will be the users of your program, etc)
        - Previous research related to your project
        - What each of you will do in the project
    - Fill the schedule (the link will be published here)
    - Attend the test
        - Present your program
        - Answer questions (different questions for different member of the team)
        - Modify your program if necessary
    - Creating report, and send it to frendi@stiki.ac.id. Here is the template https://github.com/goFrendiAsgard/kuliah/blob/master/template%20laporan%202015.doc?raw=true